{% comment %} Load HTML files into an Iframe {% endcomment %}

<script>
function resizeIFrameToFitContent( obj ) {
//     iFrame.height = iFrame.contentWindow.document.body.scrollHeight;
    obj.style.height = obj.contentWindow.document.body.scrollHeight + "px";
}
</script>

<script type="text/javascript">
  {% for chart in page.hv-loader %}
    document.addEventListener("DOMContentLoaded",function(){
      let el = document.getElementById("{{ chart[0] }}")
      if (el===null)
        alert("Error: cannot embed HTML chart because the div element with id '{{ chart[0] }}' does not exist.")
      let spec = "{{ site.baseurl }}/{{ chart[1] }}";
      
      console.log(spec, "HEY");
      let iframe = document.createElement('iframe');
      iframe.width = "100%";
      iframe.frameborder = 0;
//       iframe.scrolling = "no";
      iframe.id = "{{ chart[0] }}" + "-iframe";
      iframe.setAttribute("src", spec);
      iframe.setAttribute("frameborder", 0);
      el.appendChild(iframe);
//       el.innerHTML = `<iframe width="100%" frameborder="0" src="${spec}"></iframe>`;
      
      let iFrame = document.getElementById( "{{ chart[0] }}" + "-iframe" );
      console.log("HELLO", iframe.contentWindow.document.body.scrollHeight );
      console.log(iFrame);
      resizeIFrameToFitContent( iFrame );
    });
  {% endfor %}
</script>
